*{
    margin: 0;
    padding: 0;
}
header{
    background-color: maroon;
    height: 200px;
    text-align: center;
    color: #fff;
    font-size: 40px;
}
.banner{
    background-color: mediumblue;
    height: 500px;
    text-align: center;
    color: white;
    font-size: 100px;
}
.main-content{
    overflow: hidden;
}
.content{
    background-color:slategray;
    height: 300px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    width: 50%;
    float: left;
}
.image{
    background-color: blueviolet;
    height: 300px;
    text-align: center;
    color: white;
    font-size: 30px;
    width: 50%;
    float: right;
}
.Blog-Section{
    overflow: hidden;
}
.blog-one{
    background-color: royalblue;
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: springgreen;
    width: 33.3%;
    float: left;
}
.blog-two{
    background-color: teal;
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    width: 33.3%;
    float: left;
}
.blog-three{
    background-color: yellowgreen;
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 33.4%;
    float: right;
}
footer{
    background-color: salmon;
    text-align: center;
    height: 200px;
    font-size: 40px;
}
